* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}
.btn {
  display: inline-block;
  font-size: 16px;
  background-color: maroon;
  text-align: center;
  color: white;
  border-radius: 4px;
  height: 35px;
  margin-bottom: 0 1rem;
}

.btn:hover {
  cursor: pointer;
  float: left;
}
.card {
  background-color: white;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  padding-left: 10px;
}
